:root {
  --gray-l: #f3f4f6;
  ---gray-l: #d9d9d9;
}

.preview-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  /* backdrop-filter: blur(2px); */
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

/* PANEL */
.preview {
  width: 420px;
  min-width: 90%;
  height: 100%;
  /* background: #111626; */
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  animation: slideInRight 0.25s ease-out;
  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  flex-direction: column;
  justify-content: center;
}
.preview.slide-out {
  animation: slideOutRight 0.25s ease-in;
}

/* HEADER */
.preview__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-l);
}

.close-btn {
  margin-top: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary);
  transition: 0.3s all;
}

.close-btn:hover {
  color: var(--hover);
}

/* CONTENT */
.preview-content {
  padding: 1.5rem;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* INFO ROWS */
.preview-content p {
  margin: 0;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.preview-content strong {
  color: #9ca3af;
  font-weight: 500;
}

/* STATUS */
.preview-status {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  font-size: 0.8rem;
  font-weight: 500;
  width: fit-content;
}

.preview-status.active {
  background: #00c24e33;
  color: #00c24e;
}

.preview-status.inactive {
  background: #ff4d4d33;
  color: #ff4d4d;
}

.no-data-text {
  text-align: center;
  color: var(--gray-d);
  margin-top: 2rem;
  font-size: 1.5rem;
}

/* ANIMATION */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .preview {
    width: 100%;
    max-width: 100%;
  }
}
