:root {
  --hover: #3c1cbb;
}

.login-page {
  min-height: 100vh;
  background: radial-gradient(circle at top, #1e2a5a, #050b1f);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Arial, sans-serif;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-logo {
  width: 60px;
  height: 60px;
  background: #4f27ee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 0 auto 10px;
}

.login-card {
  background: #fff;
  color: #000;
  width: 450px;
  padding: 24px;
  border-radius: 12px;
}

.login-card label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  font-size: 12px;
}

.remember {
  display: flex;
  align-items: center;
}
.remember input {
  margin: 0;
  padding: 0;
}
.remember label {
  margin: 0;
  margin-left: 12px;
  padding: 0;
  width: 0;
}

.login-options a {
  color: #4f27ee;
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #4f27ee;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s all;
}

.signup {
  margin-top: 12px;
}

.login-btn:hover {
  background-color: var(--hover);
}

.divider {
  text-align: center;
  margin: 15px 0;
  font-size: 14px;
  color: #777;
}

.social-login {
  display: flex;
  gap: 10px;
}

.social-login button {
  /* flex: 1; */
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  transition: 0.5s all;
}

.social-login button:hover {
  background-color: #000;
  color: white;
  border-color: black;
}

.signup-text {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.signup-text a {
  color: #4f27ee;
  text-decoration: none;
}

.login-footer {
  margin-top: 30px;
  font-size: 12px;
  color: #aaa;
}

.form-error {
  background: #fee2e2;
  color: #991b1b;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 14px;
}

/* POPUP */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

.modal h2 {
  margin-bottom: 10px;
  color: black;
}

.modal p {
  margin-bottom: 20px;
  font-size: 14px;
}
