* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary: #4f27ee;
  --hover: #3c1cbb;
  --gray-l: #d9d9d9;
  --gray-m: #a8a8a8;
  --gray-d: #606061;
  --blue: #6c89ff;
}

input {
  border: none;
  border-color: inherit;
  border-radius: 10px;
}

input:focus {
  border: 2px solid var(--primary);
  outline: none;
}

.form-field-error {
  color: red;
  font-size: 12px;
  margin: 4px 0 0 2px;
  font-weight: 400;
}
