* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary: #4f27ee;
  --hover: #3c1cbb;
}

input {
  border: none;
  border-color: inherit;
}

input:focus {
  border: 2px solid var(--primary);
  outline: none;
}
