:root {
  --gray-l: #d9d9d9;
  --dark: #111626;
}

.addBtn {
  border: 2px solid var(--gray-l);
  border-radius: 10px;
  padding: 10px 12px;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  width: max-content;
  background-color: inherit;
  transition: 0.3s all;
  background-color: white;
}

.addBtn-icon {
  padding: 8px;
  border-radius: 8px;
}

.addBtn:hover {
  background-color: var(--dark);
  color: white;
  border-color: var(--dark);
}

.addBtn:hover .addBtn-icon {
  background-color: white !important  ;
  /* color: var(--dark) !important; */
}

.addBtn:hover .tx-lg {
  color: white;
}

.addBtn {
  text-align: left;
}
