.card-top {
  min-width: 400px;
  padding: 12px;
  border: 2px solid var(--gray-l);
  border-radius: 8px;
  grid-area: 1 / 3 / 2 / 6;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.card-top__top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-top__top-icon {
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.card-top__table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  font-family: system-ui, sans-serif;
}

.card-top__table thead th {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  color: var(--gray-d);
}

.card-top__table tbody tr {
  border-top: 1px solid var(--gray-l);
}

.card-top__table tbody td {
  padding: 0px 0px 0 5px;
  font-size: 14px;
  color: #374151;
}

.name-cell .name {
  font-weight: 500;
  color: black;
}

.card-top__table tbody tr:hover {
  background: #1e1e2f;
  cursor: pointer;
}

.card-top__table tbody tr:hover td,
.card-top__table tbody tr:hover span {
  color: white;
}
