:root {
  --gray-l: #d9d9d9;
  --green: #00c24e;
  --red: #fe2a38;
}

.dashboard-card {
  border: 2px solid var(--gray-l);
  border-radius: 8px;
  padding: 12px;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.dashboard-card__top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-card__top-icon {
  color: white;
  padding: 5px;
  border-radius: 4px;
}
.stadistics {
  display: flex;
  gap: 10px;
}
.stadistics-icon {
  color: var(--green);
}

.positive {
  color: var(--green);
}

.negative {
  color: var(--red);
}
