:root {
  --primary: #4f27ee;
  --gray-l: #d9d9d9;
  --gray-m: #a8a8a8;
  --gray-d: #606061;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-l);
}

.left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  color: var(--gray-d);
}

.left input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--gray-m);
  border-radius: 5px;
  padding: 12px 20px;
}

.user {
  min-width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 40px;
  border-left: 1px solid var(--gray-l);
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}
