:root {
  --primary: #4f27ee;
  --hover: #3c1cbb;
  --menu-bg: #111626;
  --gray-l: #d9d9d9;
  --gray-m: #a8a8a8;
  --gray-d: #606061;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-l);
}

.left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  color: var(--gray-d);
}

.search-input {
  position: relative;
  width: 100%;
}

.search-input__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--gray-m);
  pointer-events: none; /* MUY importante */
}

.search-input__field {
  width: 100%;
  height: 40px;
  border: 2px solid var(--gray-l);
  padding: 12px 45px;
  font-size: 18px;
}

.notifications {
  color: var(--gray-m);
}

.notifications:hover {
  cursor: pointer;
  color: var(--gray-d);
}

.user {
  min-width: 280px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
  border-left: 1px solid var(--gray-l);
  cursor: pointer;
}

.user:hover .user-icon {
  background-color: var(--hover);
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.user-menu {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: var(--menu-bg);
  border-radius: 0 0 0 8px;
  min-width: 280px;
  padding: 8px 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  z-index: 100;

  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  pointer-events: none;

  transition:
    transform 0.18s ease,
    opacity 0.15s ease;
  cursor: pointer;
}

.user-menu.is-open {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

.user-menu a,
.user-menu button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.user-menu a:hover,
.user-menu button:hover {
  background-color: #2c2f4a;
}
