.status-badge {
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 0.8rem;
  font-weight: 500;
}

.status-badge.active,
.status-badge.received {
  background: rgba(74, 222, 128, 0.2);
  color: #4ade80;
}

.status-badge.inactive,
.status-badge.pending {
  background: rgba(156, 163, 175, 0.2);
  color: #9ca3af;
  /* background-color: #fe2a382a;
  color: #fe2a38; */
}

.status-badge.confirmed {
  background: #4a83de4b;
  color: #4a83de;
  /* background-color: #fe2a382a;
  color: #fe2a38; */
}

.status-badge.cancelled {
  background: #de4a4a3e;
  color: #de4a4a;
  /* background-color: #fe2a382a;
  color: #fe2a38; */
}
