:root {
  --primary: #4f27ee;
  --hover: #3c1cbb;
  --gray-l: #d9d9d9;
  --gray-m: #a8a8a8;
}

.table-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.table-toolbar__search {
  position: relative;
  width: 280px;
}

.tabel-toolbar__search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--gray-m);
  pointer-events: none;
  color: var(--gray-m);
}

.table-toolbar__search input {
  background: inherit;
  width: 100%;
  border: 2px solid var(--gray-l);
  border-radius: 10px;
  padding: 10px 40px;
}

.table-toolbar__actions {
  display: flex;
  gap: 8px;
}

.table-toolbar__actions button {
  /* background: #1e1e2f; */
  background-color: var(--primary);
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s all;
}

.table-toolbar__actions button:hover {
  background-color: var(--hover);
}
