:root {
  --primary: #4f27ee;
  --hover: #3c1cbb;
  --view: #879ffc;
  --edit: rgb(255, 204, 0);
  --delete: #eb6972;
  --gray-l: #d9d9d9;
  --gray-m: #a8a8a8;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.data-table th {
  text-align: left;
  font-size: 0.85rem;
  color: var(--gray-m);
  padding: 12px;
}

.data-table td {
  padding: 14px 12px;
  border-top: 1px solid #2a2a3d;
}

.data-table tbody tr {
  cursor: pointer;
  transition: background 0.2s ease;
}

.data-table tbody tr:hover {
  background: #1e1e2f;
  /* background: #383856; */
  /* background-color: #d9d9d95d; */
}

.data-table tbody tr:hover td {
  color: white;
}

.table-actions {
  display: flex;
  gap: 15px;
}

.icon-edit:hover {
  color: var(--edit);
}

.icon-delete:hover {
  color: var(--delete);
}
